<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<base href="/" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#if pageName}}{{pageName}} — {{config.title}}{{else}}{{config.title}}{{/if}}</title>
<style>
{{css}}
</style>
</head>
<body>
<h1>{{pageName}}</h1>
{{{body}}}
</body>
</html>
